/* the "body" selector will be the default for the whole document*/

body {

   background-image:url('http://fc00.deviantart.net/fs70/f/2013/097/b/e/fanart___breadfish_by_purplerubyred-d60qfsl.png');
   background-repeat:no-repeat;
   background-position:right top;
   background-color: white;  
   color: black;
   font-family:Verdana, Geneva, sans-serif;


}

what you put here will override the body selector

h1 {

}

h2 {

}

h3 {

}

a {

}

ul {
    
}

li {

}

/id-based selectors begin with #
 What you put here will override the html-tag based selectors

#teacher {

}

#program {

}

#basics {

}

#lecture-notes {

}

#homework {

}

#extra-reading {

}

#css-resources {

}
