body{
    background-image:url('http://www.imgbase.info/images/safe-wallpapers/miscellaneous/comics/20861_comics_batman_simple_face.jpg');
    background-position: center bottom;
    font-family:"MyriadPro-light";
	background-color:black;
	color:white;
    font-size:20;
	}